src/core/doc/高院文档/数据库建设14.6.9修改版/非审判数据库建设/数据交换用的xml/_0_结构_车辆管理系统.xsd

<?xml version="1.0" encoding="GBK"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://dataexchange.court.gov.cn/2009/data" targetNamespace="http://dataexchange.court.gov.cn/2009/data" elementFormDefault="qualified">

  <xsd:group name="换证年审登记信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFZFYJ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HZHZSQB" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HZSTTJZM" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HZJSZYJ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HZYCBDMGZ3Z" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LB" type="TN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="派车记录">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSYBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSY" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSCL" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLLX" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LXDH" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJHM" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFHBAPCC" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZLCS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GDSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFFSZDXCSG" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SGYY" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFYPC" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KSGL" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSGL" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="用车申请">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCBM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CCSJ" type="Dt" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CFDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DDDD" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFGY" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CCRSL" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YJGDSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCLY" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SQRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SQR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SQSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TLDBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TLD" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TLDQZRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TLDYJ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TLDSFPZ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLDBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLD" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLDQZRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLDYJ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLDSFPZ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PCRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PCR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PCRQZRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PCRYJ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSYBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSY" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSCL" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LCS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CCLX" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CCTS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GHSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSYCLLX" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSYLXDH" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSYSJ" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SQLB" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AH" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AJBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XTAPJSY" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XTAPCL" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCFS" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QTR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QTRQZRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QTRYJ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QTRSFPZ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FSPCRRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LXDH" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCXZ" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KSGL" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSGL" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFLSAP" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GDAP" type="C250" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="车辆保养登记信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPH" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BYSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BYRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BYR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BYFY" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BYGDSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="车辆油耗登记信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JYSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JYDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSYBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSY" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JYL" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSCJYHYXSGLS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJ" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HJJE" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BJK" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDK" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WGY" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BJKJE" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDKJE" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WGYJE" type="M" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="车辆登记信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPH" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SSDW" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SYBM" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPLX" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BFSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GRSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLLX" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FDJH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DPH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CK" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFJNCLGZFJF" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SSDQ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BXJNQX" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPXH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GLYLF" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLTPCLZB" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLTPJDJBQFPTZD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLTPJBQSYZ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLTPCLHGZ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLTPXSFP" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLTPGZFJFJNPZ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLTPXCZZ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLTPCLZP" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLLY" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GMJGWY" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLZL" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZBH" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZYH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLZT" type="C20" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="车辆维修登记信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XCSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XCDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XCJB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSYBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSY" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFFHSQ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMFZRSFTY" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMFZRQZRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMFZRYJ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMFZRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMFZR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLDSFTY" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLDQZRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLDYJ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLDBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YLD" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HJWXFY" type="M" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="车辆维修登记明细">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WXBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WXXM" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WXFY" type="M" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="车辆缴费登记信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFLX" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFJE" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="车辆里程登记信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JLND" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TJQJ" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LCS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KSLC" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSLC" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="车辆驾驶员登记信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSYBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFZHM" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XB" type="C10" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NL" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CSRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZJCL" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSZH" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CCLZSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSCL" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LXDH" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJ" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JZJSY" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSYLB" type="C20" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
