src/core/doc/高院文档/数据库建设14.6.9修改版/非审判数据库建设/数据交换用的xml/_0_结构_法官业绩评价系统.xsd

<?xml version="1.0" encoding="GBK"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://dataexchange.court.gov.cn/2009/data" targetNamespace="http://dataexchange.court.gov.cn/2009/data" elementFormDefault="qualified">

  <xsd:group name="书记员技能评分">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ND" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PDDJ" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSMC" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="书记员笔录评分">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PFBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PFQJ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ND" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="书记员笔录评分明细">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PFBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LX" type="C500" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DF" type="F" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="书记员笔录评分标准">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LX" type="C500" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PFBZ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SCBZ" type="TN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="书记员综合测评明细">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BCPRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BCPR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPJG" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPRQ" type="D" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TJRQ" type="D" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZSDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFTLD" type="TN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="人员基本信息表">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RSXTBH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XB" type="C10" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MZ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CSNY" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZMM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RDSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJGZSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XZZJ" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CRZJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XRZW" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RXZWSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZQK" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SPZC" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FGDJ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JG" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CSD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZGXL" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BYXX" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZY" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZGXW" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PXQK" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JTCY" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GZJL" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GBRMQK" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GWXZ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GZGW" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NDKH" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSZW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SPZW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RSPZWSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XZZW" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RXZZWSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NRZW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NMZW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RXZCSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QRZXL" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QRZBYYX" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QRZXW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QRZZY" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZXL" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZYX" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZXW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZZY" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZGXLLX" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZGXLXJZY" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FGDJQSSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FGDJPZWH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FGDJPZJG" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFZH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GBFL" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFYX" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RSXTBM" type="C100" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="优秀庭审、文书">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SPZW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XZZW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PCND" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PCQJ" type="C50" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="公益文艺活动登记（申报）">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJXM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HDMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJCS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BYXG" type="C10" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HJQK" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DDQK" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZYQK" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HJLX" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BSGM" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FLBS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FJCL" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SPRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SPR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SPYJ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SPSJ" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="培训信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RSXTRYBH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PXMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PXNR" type="C2000" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KSSJ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSSJ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KQ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KSJG" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFTG" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PXDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PXTS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SX" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FJCL" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="处分信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RSXTRYBH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BCFRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CFMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CFSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="奖励信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RSXTRYBH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DWDM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JLFL" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JLMC" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HJND" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JLWH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PZDW" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJDXM" type="C400" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFBLDJ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="审判作风检查">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RSXTRYBH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JCXM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JCSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="年度考核">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RSXTRYBH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KHSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KHJG" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KHSM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BHbh" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="庭审、文书记录分数">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SPZW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XZZW" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JCF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZHDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ND" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QJ" type="C50" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="廉政监察等信息补录表">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FLMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XMxm" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WFWJLX" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FL" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FTH" type="C100" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="执行局办案能力数据记录">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LB" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JB" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RQ" type="D" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="批判记录">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RSXTRYBH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PPLB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PPSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="文秘信息登记">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CYXZ" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZ" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BT" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KWMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CYFS" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CYJB" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRQ" type="D" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GWBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CYRQ" type="D" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FJCL" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LDPS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GRZPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GRFXPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GRBMPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GRBMFXPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMZPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FXPM" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="督办信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DBBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SXMC" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DBNR" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DBRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DBR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DBRBM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DBSJ" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="程序计算主表">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSND" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSQJ" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYXM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KSRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MBLB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSR" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSRQjsrq" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFD" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFQ" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFL" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFQJF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFQJFqjf" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFJ" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFJJBF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFJJF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFJJFjjf" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFN" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFNJBF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFNJF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFNJFnjf" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSXS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YSZF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZW" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZW1" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMXLZGF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFFMPJ" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GZYJQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GZYJXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GZYJBMPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GZYJBMXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZSZQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZSZXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZSZBMPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZSZBMXLNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NBMNPMnbmpm" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NBMNXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FMPJQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FMPJXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NBMNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NBMXLNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QBMNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QBMXLNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JBMNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JBMXLNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DBMNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DBMXLNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LBMNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LBMXLNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FMPJBMNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FMPJBMXLNPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SYMB" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZJF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFBPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFBMNXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBQYPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBZZPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBFZPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBZZXZBMPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBFZXZBMPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBZZYWBMPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBFZYWBMPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GZGW" type="C100" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="程序计算明细">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZBBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XMBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XMNR" type="C2000" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XMLX" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XMZL" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TJLB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSJG" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSGSJCSJG" type="C2000" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="xJG" type="C2000" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="yJG" type="C2000" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="zJG" type="C2000" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYXM" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JLRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSMB" type="C2000" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZXGJZ" type="C2000" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZGF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMPJF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMXLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QYPM" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="程序计算项目表">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XMBH" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZBLB" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZBMC" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZBMS" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZBFZ" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JZZFX" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JZZZF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSGS" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="xsql" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ysql" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="zsql" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="xHY" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="yHY" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="zHY" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZXZ" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZDZ" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSFS" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZBLX" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TJLB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KHBM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QSFZ" type="C50" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="综合测评主表">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BCPRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BCPR" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPND" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPQJ" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPRQ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPNR" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZSFS" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPFS" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPRY" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPJG" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPJSRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="APRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFZCGB" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZTDDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJYSDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SXPZDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TJXZDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBDDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBNDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBQDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DNQBLBZ" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPRYBH" type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="综合测评明细">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BCPRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BCPR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPJG" type="C4" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CPRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TJRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZPZDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJYSDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SXPZDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TJXZDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBDDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBNDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCGBQDF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="C200" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="网上答疑登记">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DYRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DYRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DYR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DYSL" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="网上预约登记">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YYLARQ" type="D" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YYLARBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YYLAR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YYLARBM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YYLASL" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="计算常量管理">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLDM" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLSJ" type="C2000" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MS" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LX" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJY" type="C250" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="计算校验管理">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GZMZ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GZSM" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XYsql" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJR" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFYX" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="计算检查日志">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJR" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BT" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CWLX" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CWZL" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SM" type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="计算模板">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MBLX" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MBMC" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BHXMBH" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SYFWid" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SYFW" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SYLX" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SYRYLB" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SYBMLB" type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="评价结果咨询">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SQRBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SQR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZXSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZXNR" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYJG" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFFY" type="SN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="评价结果咨询明细">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZXXM" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZXSX" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZXLY" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYJG" type="C200" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="调研信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZZ" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BT" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LX" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CYFS" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CYJB" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FS" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DYRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GWBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLFJ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GRZPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GRFXPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMGRZPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMGRFXPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMZPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BMFXPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XZ" type="C20" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="调研信息申报表">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C30" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BT" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LX" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XZ" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JB" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CYFS" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FJ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CYSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CBSPR" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CBSPYJ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CBSPSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CBSPPZ" type="C10" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FZRSPR" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FZRSPPZ" type="C10" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FZRSPYJ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FZRSPSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YJSSPR" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YJSSPPZ" type="C10" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YJSSPYJ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YJSSPSJ" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="部门加减分">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ND" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFjf" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFLY" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFLYjf" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LB" type="C500" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="部门年度业绩">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ND" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DF" type="F" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XLPM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QYPM" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="（岗位）排名顺序表">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LB" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SX" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="N" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
