src/core/doc/高院文档/数据库建设14.6.9修改版/非审判数据库建设/数据交换用的xml/_0_结构_信访系统.xsd

<?xml version="1.0" encoding="GBK"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://dataexchange.court.gov.cn/2009/data" targetNamespace="http://dataexchange.court.gov.cn/2009/data" elementFormDefault="qualified">

  <xsd:group name="信访主体信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AJLB" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BT" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NH" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYJC" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AZ" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LAAY" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CBSPT" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFLY" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFSY" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFLM" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFSJJGJB" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JBDW" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JBLDPSNR" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFXFZJ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFYJWK" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SSDQ" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QSSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFHFBLJG" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BLFS" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AJZT" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AJCBR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WTLX" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYWTSJFY" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJBM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJWT" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SYNR" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CBRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CBR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYZYNR" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJSYAH" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SXFY" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJSXAH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFJA" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JARQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JAFS" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BLQK" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LDPSNR" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JABZ" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DSR" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFCS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFXS" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFJZ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JZJE" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZLAAH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZLARQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFBA" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZLABH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFFYJC" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XJLY" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFGJF" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GJFRS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFSGCL" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SGCLRS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDAPBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFSQJD" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFQF" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFYCJD" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFTCJD" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFRS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LMRS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BLJSQX" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFYJF" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFSQJDs" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDRZW" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFZT" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLYJ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CFSFJA" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CFJARQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CFNH" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CFFYJC" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CFAZ" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CFHS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJFY" type="C100" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访回复函">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WDBH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFR" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YG" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BG" type="C200" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访实体文件">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
     <xsd:element name="WJMC" type="C255" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="STWJM" type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访延期申请表">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WDBH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JTDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JTRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JTR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJYBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJY" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LFR" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZCR" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JTJG" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访当事人记录">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SSDW" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MC" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DWFZR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DWSYZ" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XB" type="C10" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NL" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MZ" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SF" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WHCD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DZ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CSRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PJQK" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WZYY" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFBDZZQLZS" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZXLX" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XQN" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XQY" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XQR" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HXQN" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HXQY" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HXQR" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FJX1" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FJX2" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MSCCJE" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FJ" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BDZZQLN" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BDZZQLY" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BDZZQLR" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FDMSQK" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FDMSJE" type="M" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LXFS" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFRDDB" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFZXWY" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFZMRS" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JZD" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PJQKHB" type="BB" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访接待安排">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
     <xsd:element name="SXH" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ND" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KSSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KHSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFAH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DJR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LFRXM" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CJRY" type="C200" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访接待审批表">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LXLFR" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YSAH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YSFY" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CBRYJ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYNR" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SQLY" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JCSPRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JCSPR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JCSFPZ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JCSPYJ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JCSPRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCSPRBS" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCSPR" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCSFPZ" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCSPYJ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YCSPRQ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDLD" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访日志记录">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LCMC" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="KSRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BM" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RYXM" type="C40" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访流程信息">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LCBH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LCMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JCTJ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TSTS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZRRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZRR" type="C40" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访涉及案号">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YSFY" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NH" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYJC" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AZ" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FH" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AJZT" type="C20" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="信访转发记录">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FSFYMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSFYMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FSSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XXFH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSR" type="C40" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="初访接待回复单">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="WDBH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SSR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DHHM" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BSSR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YPSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AJXZ" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YPAH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YPHYT" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LXR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFLXR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFLXDH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YYJDSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JFCY" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLYJ" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SQRYJ" type="C200" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="初访接待通知单">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YSYG" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YSBG" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YPAH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YHYT" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JASJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SSR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BSSR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFFGBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFFG" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TZRQ" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="初访答复函">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
     <xsd:element name="XFR" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DSR" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YJ" type="C200" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="历次信访涉及法院">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFRQ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLJG" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLR" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFCS" type="SN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="历次信访登记">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFCS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFJTF" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LFRS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFGJF" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GJFRS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFLDJD" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CLJG" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FYQK" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NH" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AZ" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HS" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BZ" type="C250" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFLB" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ZFYJ" type="BB" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFYJF" type="TN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="听证通知书">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WDBH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TZDX" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YG" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BG" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BFPJDSR" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CDJG" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SXWSBH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SXWSLB" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TZSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TZDD" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TZRQ" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="息诉通知书">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BH" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFR" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YG" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BG" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFLY" type="C200" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CDJG" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SXWSBH" type="C50" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SXWSLB" type="C20" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TZRQ" type="DT" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="操作记录">
    <xsd:sequence>
      <xsd:element name="FYBM" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XFBS" type="ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XH" type="ID" minOccurs="0" maxOccurs="1"/>
     <xsd:element name="JDBH" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JDMC" type="C100" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FSRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FSR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FSSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSRBS" type="N" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSR" type="C40" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JSSJ" type="DT" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FSBZ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="XHs" type="SN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFJJ" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFSC" type="TN" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SFCL" type="TN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
